accelerate==1.8.1
albucore==0.0.24
blosc2==3.5.1
datasets==2.14.4
diffusers==0.34.0
huggingface_hub==0.33.4
jax==0.4.30
jaxlib==0.4.30
numpy>=1.24.4,<3.0.0
opencv-python==4.11.0.86
peft==0.16.0
sentence-transformers==4.1.0
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.53.2
xarray==2025.3.1
xarray-einstats==0.9.1
safetensors
peft